# Activer la réécriture d'URL
RewriteEngine On

# Exclure les ressources statiques de la réécriture
RewriteCond %{REQUEST_URI} !^/atelier_mrt/assets/

# Rediriger tout le trafic vers index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ /atelier_mrt/index.php [L,QSA]

# Redirection spécifique pour 'shop/'
RewriteRule ^shop/?$ index.php?page=shop [L,QSA]

# Redirection spécifique pour 'blog/'
RewriteRule ^blog/?$ index.php?page=blog [L,QSA]

# Sécuriser l'accès aux fichiers .htaccess
<Files .htaccess>
    Require all denied
</Files>

# Empêcher l'affichage des répertoires
Options -Indexes

# Activer la compression Gzip
<IfModule mod_deflate.c>
    AddOutputFilterByType DEFLATE text/html text/plain text/xml text/css text/javascript application/javascript application/json
</IfModule>
