  @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

  :root {
      --dark-one: #f2f2f2;
      --dark-two: #7a7a7a;
      --main-color: #931010;
      --light-one: #fff;
      --light-two: #f9fafb;
      --light-three: #222;
      --radius: 8px;
  }

  /* Genral Styles */

  *,
  *::before,
  *::after {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      outline: none;
      border: none;
  }

  html {
      scroll-behavior: smooth;
  }

  *::-webkit-scrollbar {
      width: 6px;
  }

  *::-webkit-scrollbar-thumb {
      background-color: var(--main-color);
      border-radius: 999px;
  }

  *::-webkit-scrollbar-track {
      background-color: var(--light-two);
  }

  body,
  button,
  input,
  textarea {
      font-family: "Poppins", sans-serif;
  }

  a {
      text-decoration: none;
  }

  ul {
      list-style: none;
  }

  img {
      width: 100%;
  }

  .container {
      position: relative;
      z-index: 5;
      max-width: 92rem;
      padding: 0 4rem;
      margin: 0 auto;
  }

  .stop-scrolling {
      height: 100%;
      overflow: hidden;
  }

  .grid-2 {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
      justify-content: center;
  }

  .text {
      font-size: 1.25rem;
      color: var(--dark-two);
      line-height: 1.6;
  }

  .column-1 {
      margin-right: 1.5rem;
  }

  .column-2 {
      margin-left: 1.5rem;
  }

  .image {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
  }

  .z-index {
      position: relative;
      z-index: 2;
  }

  .overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      overflow: hidden;
      top: 0;
      left: 0;
      opacity: 0.4;
  }

  .overlay .shape {
      width: initial;
      opacity: 0.13;
      position: absolute;
  }

  .overlay.overlay-lg .shape {
      height: 55px;
  }

  .overlay.overlay-lg .shape.wave {
      height: initial;
      width: 88px;
  }

  .overlay.overlay-lg .shape.xshape {
      height: 38px;
  }

  .overlay.overlay-sm .shape {
      filter: brightness(0) invert(1);
      opacity: 0.15;
      height: 40px;
  }

  .overlay.overlay-sm .shape.wave {
      height: initial;
      width: 70px;
  }

  .overlay.overlay-sm .shape.xshape {
      height: 30px;
  }

  .points {
      opacity: 0.3;
      position: absolute;
  }

  .section {
      padding: 7rem 0;
      overflow: hidden;
  }

  .section-header {
      text-align: center;
      margin-bottom: 1.5rem;
  }

  .section-body {
      background-color: var(--light-one);
  }

  .title {
      position: relative;
      display: inline-block;
      padding-bottom: 1rem;
      line-height: 1;
      font-size: 2.8rem;
      margin-bottom: 0.6rem;
  }

  .title:before {
      content: attr(data-title);
      display: block;
      margin-bottom: 0.4rem;
      color: var(--main-color);
      font-size: 1.15rem;
      font-weight: 500;
      text-transform: uppercase;
      letter-spacing: 3px;
  }

  .title:after {
      content: "";
      position: absolute;
      width: 90px;
      height: 5px;
      border-radius: 3px;
      background-color: var(--main-color);
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
  }

  .section-header .text {
      max-width: 600px;
      margin: 0 auto;
  }

  .title-sm {
      color: #606060;
      font-weight: 600;
      font-size: 1.6rem;
  }

  .points-sq {
      width: 210px;
  }

  .btn {
      display: inline-block;
      padding: 0.85rem 2rem;
      background-color: var(--main-color);
      color: var(--light-one);
      border-radius: var(--radius);
      font-size: 1.05rem;
      text-transform: uppercase;
      font-weight: 500;
      transition: 0.3s;
      cursor: pointer;
      transition: background-color 0.4s ease-in-out;
  }

  .btn:hover {
      background-color: #690c0c;
  }

  .btn.small {
      padding: 0.7rem 1.8rem;
      font-size: 1rem;
  }

  .btn.black {
      background-color: var(--light-three);
      box-shadow: 4px 8px 14px rgba(255, 255, 255, 0.15);
  }

  /* Pagination styles */
  .pagination {
      text-align: center;
      margin-top: 20px;
  }

  .pagination-btn {
      background-color: #333;
      color: #fff;
      border: none;
      padding: 10px 20px;
      margin: 0 5px;
      cursor: pointer;
      border-radius: 4px;
  }

  .pagination-btn:disabled {
      background-color: #777;
      cursor: not-allowed;
  }

  /* Alert styles */

  .alert {
      text-align: center;
      border-radius: var(--radius);
      padding: 1rem 0.8rem;
      width: 100%;
      height: auto;
  }

  .alert.success {
      background-color: #5ed57a;
      color: #28a745;
  }

  .alert.error {
      background-color: #d55e6a;
      color: #a72828;
  }

  .alert.warning {
      background-color: #d59d5e;
      color: #a76c28;
  }

  /* End Genral Styles */
  main {
      display: flex;
      width: 100%;
  }

  /* Sidebar Styles */
  .sidebar {
      width: 250px;
      background-color: #343a40;
      color: white;
      padding: 1rem;
      height: 100vh;
      position: fixed;
  }

  .sidebar h4 {
      font-family: 'Oswald', sans-serif;
      font-size: 1.3rem;
      font-weight: 400;
      color: var(--main-color);
      margin-bottom: 2rem;
  }

  .sidebar .nav {
      list-style-type: none;
      padding: 0;
  }

  .sidebar .nav-item {
      margin-bottom: 1rem;
  }

  .sidebar .nav-link {
      color: var(--light-one);
      text-decoration: none;
      font-size: 1rem;
      display: flex;
      align-items: center;
      padding: 0.5rem 1rem;
      border-radius: 4px;
      transition: background-color 0.3s;
  }

  .sidebar .nav-link i {
      margin-right: 0.5rem;
  }

  .sidebar .nav-link:hover {
      background-color: var(--dark-two);
  }

  .sidebar .nav-link.active {
      background-color: var(--main-color);
  }

  /* Main Content Styles */
  .main-content {
      margin-left: 250px;
      padding: 2rem;
      background-color: #f8f9fa;
      width: calc(100% - 250px);
  }

  .header {
      margin-bottom: 1.5rem;
  }

  .header h3 {
      margin: 0;
      font-size: 1.5rem;
      color: #343a40;
  }

  /* Stats Grid */
  .stats-grid {
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
  }

  .stat-box {
      background-color: #ffffff;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      border-radius: 8px;
      padding: 1rem;
      flex: 1 1 22%;
      /* Ajuste pour un layout responsive */
      text-align: center;
  }

  .stat-value {
      font-size: 2rem;
      margin: 0;
  }

  .stat-label {
      font-size: 1rem;
      color: #6c757d;
  }

  /* Tables Container */
  .tables-container {
      display: flex;
      flex-direction: column;
      gap: 1rem;
  }

  .table-card {
      background-color: #ffffff;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      border-radius: 8px;
      margin-top: 10px;
      margin-bottom: 4px;
  }

  .table-header {
      background-color: #343a40;
      color: #ffffff;
      padding: 1rem;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
  }

  .table-header h5 {
      margin: 0;
  }

  .data-table {
      width: 100%;
      border-collapse: collapse;
  }

  .data-table th,
  .data-table td {
      padding: 0.75rem;
      text-align: left;
      border-bottom: 1px solid #dee2e6;
  }

  .data-table thead {
      background-color: var(--light-two);
  }

  .data-table tbody tr:hover {
      background-color: #f1f1f1;
  }

  .data-table button {
      background-color: transparent;
      border: none;
      cursor: pointer;
  }

  .data-table button i {
      font-size: 18px;
  }

  .data-table button i.bx-pencil {
      color: var(--light-three);
  }

  .data-table button i.bx-trash {
      color: var(--main-color);
  }

  .table-img {
    width: 95px;
    height: 95px;
    border-radius: var(--radius);
    position: relative;
  }

  .table-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--radius);
  }

  .form-container {
      margin: 20px 0;
      background-color: #fff;
      padding: 20px;
      border-radius: var(--radius);
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .form-group {
      margin-bottom: 15px;
  }

  .form-group label {
      display: block;
      margin-bottom: 5px;
  }

  .form-group input,
  .form-group textarea,
  .form-group select {
      width: 100%;
      padding: 0.67rem 1rem;
      margin: 0.6rem 0;
      border: none;
      outline: none;
      background: #f3f3f3;
      border-radius: var(--radius);
      font-size: 18px;
      transition: 0.3s;
  }

  /* End Administration */