@import url('utilities.css');

/* Réinitialisation de styles de base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-black: #0c0c0c;
    --color-white: #fff;
    --color-semi-white: #f4f4f4;
    --color-semi-black: #0e0707;
    --color-gray: #ccc;
    --color-red: #c53737;
}


/* Styles généraux */
body {
    font-family: 'Arial', sans-serif;
    background: var(--color-semi-white);
    color: var(--color-black);
    line-height: 1.6;
    overflow-x: hidden;
}

.container {
    width: 80%;
    margin: auto;
}

/* En-tête */
header {
    color: var(--color-black);
    padding: 1rem 0;
    position: -webkit-sticky;
    /* Pour Safari */
    position: sticky;
    top: 0;
    z-index: 1000;
    transition: background 0.3s ease-in-out;
}

header.scrolled {
    background: var(--color-semi-black);
    transition: background 0.5s ease-in-out;
}

header .logo {
    width: 50px;
    height: 50px;
    position: relative;
}

header .logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: var(--color-black);
    text-decoration: none;
    padding: 0.5rem 1rem;
    transition: color 0.3s, background 0.3s;
}

header.scrolled nav ul li a {
    color: var(--color-white);
}

nav ul li a.active{
    color: var(--color-red);
    border-bottom: 2px solid var(--color-red);
}

nav ul li a:hover {
    color: var(--color-red);
}

.nav-extra {
    display: flex;
    align-items: center;
}

.nav-extra .login-btn {
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1rem;
    background: var(--color-red);
    border-radius: 5px;
    transition: background 0.3s;
}

.nav-extra .login-btn:hover {
    background: #d43f2b;
}

.nav-extra .cart-icon,
.nav-extra .profile-icon {
    color: #fff;
    font-size: 1.5rem;
    margin-left: 20px;
    text-decoration: none;
}

/* Section Hero */
.hero {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    color: #fff;
    text-align: center;
    padding: 100px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.hero-content {
    max-width: 600px;
}

.hero-title {
    font-size: 3rem;
    margin-bottom: 20px;
}

.hero-description {
    font-size: 1.25rem;
    margin-bottom: 30px;
}

.btn-primary {
    background-color: var(--color-semi-black);
    color: var(--color-white);
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #0c0506;
}

.btn-secondary {
    background-color: var(--color-red);
    color: var(--color-white);
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.btn-secondary:hover {
    background-color: #d43f2b;
}

/* Section À Propos */
.about {
    background-color: var(--color-semi-white);
    padding: 50px 20px;
}

.about .container {
    max-width: 1200px;
    margin: 0 auto;
}

.about h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.about p {
    font-size: 1rem;
    margin-bottom: 20px;
}

/* Section Galerie */
.gallery {
    background-color: var(--color-semi-white);
    padding: 50px 20px;
}

.gallery .container {
    max-width: 1200px;
    margin: 0 auto;
}

.gallery h2 {
    font-size: 2.5rem;
    margin-bottom: 30px;
    text-align: center;
    color: var(--color-black);
}

.gallery-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.gallery-item {
    flex: 1 1 calc(33.333% - 20px);
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    background: var(--color-white);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.gallery-item:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.gallery-item img {
    width: 100%;
    height: auto;
    display: block;
    transition: opacity 0.3s ease;
}

.gallery-info {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    color: var(--color-white);
    padding: 10px;
    text-align: center;
    opacity: 0;
    /* Masquer par défaut */
    transition: opacity 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.5);
    /* Lueur externe */
    transform: translateY(100%);
    /* Positionner en dehors de la vue par défaut */
}

.gallery-item:hover .gallery-info {
    opacity: 1;
    /* Afficher au survol */
    transform: translateY(0);
    /* Réinitialiser la position au survol */
    box-shadow: 0 -4px 15px rgba(0, 0, 0, 0.7);
    /* Augmenter l'intensité de la lueur au survol */
}

.gallery-info h3 {
    margin: 0;
    font-size: 1.25rem;
}

.gallery-info p {
    margin: 5px 0 0;
    font-size: 0.875rem;
}

/* Section Contact */
.contact {
    background-color: #fff;
    padding: 50px 20px;
}

.contact .container {
    max-width: 1200px;
    margin: 0 auto;
}

.contact h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.contact p {
    font-size: 1rem;
    margin-bottom: 20px;
}

/* Section Boutique */
.shop {
    background-color: #f4f4f4;
    padding: 50px 20px;
}

.shop .container {
    max-width: 1200px;
    margin: 0 auto;
}

.shop h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.shop p {
    font-size: 1rem;
    margin-bottom: 20px;
}

/* Pied de page */
footer {
    background: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

footer .footer-info p {
    margin: 0;
}

/* Responsive */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        display: none;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background: #333;
    }

    nav ul.active {
        display: flex;
    }

    nav ul li {
        margin: 0;
        text-align: center;
    }

    .nav-extra {
        display: none;
    }

    .menu-toggle {
        display: block;
        font-size: 1.5rem;
        color: #fff;
        background: #333;
        border: none;
        cursor: pointer;
    }
}